<div class="title">
    <h1>
      Stocks Market
    </h1>
</div>
  
<mat-toolbar>
    <mat-toolbar-row>
      <app-side-nav></app-side-nav>
    </mat-toolbar-row>
  </mat-toolbar>

  
  <div class="stocks" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
      <div fxFlex="100%">
       <marquee behavior="scroll" direction="right"><app-stocks-list></app-stocks-list></marquee>
      </div>
  </div>

  <div class="divContent" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
       <router-outlet></router-outlet>
  </div>

    
