<form class="autocompleteForm">
  <mat-form-field class="autocompleteField">
    <input (input)="onSearchChange($event.target.value)" matInput placeholder="Stock Name" aria-label="Name" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" #autoComplete (optionSelected)='getName($event.option.value)'>
      <mat-option *ngFor="let stock of filteredNames | async" [value]="stock.stockName">
        <span>{{stock.stockName}}</span> 
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>