form{
    text-align: center;
}

h2{
    text-align: center;
    color: gray;
}

.name{
    text-align: center;
    border: none;
}

.price{
    text-align: center;
    border: none;
}

input{
    font-size: 13px;
}

.amount{
    text-align: center;
}
